* {
margin:0;
padding:0;
font-family: "Roboto", sans-serif;
}
body {
  background-color: #F3E8DF;
}
.container {
    background-color: #F3E8DF;
}
.header {
    background-color: #6e5034;
    font-size: 50px;
    color: white;
    height: 70px;
    width: 100vw;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
     
}

.header-title {
   margin: 50px;
}

.plus-btn {
    font-size: 40px;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}


.body {
    background-color: #F3E8DF;
    position: absolute;
    text-align: center;
    width: 100vw;
    height: auto;
    overflow-y: hidden; 
}


/* CARDS */

#content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 310px));;
  gap: 15px;
  margin: 40px;
}
.cards p {
  color: black;
  font-weight: normal;
  font-size: 16px;
  margin: 20px;
  text-align: left;
}

.cards .title {
  font-size: 22px;
  font-weight: bold;
}

.cards {
  background-color: #efe1b5;
    height: 220px;
    border-radius: 5px;
    border-left: 10px solid #6e5034;
}

.content-btns {
  display: flex;
  gap: 10px;
 margin-left: 125px;
 margin-top: 45px;
}

.content-btns button {
  padding: 8px;
  border: #CDB885;
  border-radius: 5px;
  width: 80px;
  background-color: #CDB885;
  color: white;
  font-size: bold;
  font-size: 14px;
}

.header span { 
    font-family:"Wellfleet", serif;
}

/* FORMS */
#modal {
  display: none;
 position: fixed;
 bottom: 30px;
right: 470px;
 z-index:101;   
 
}
h2 {
  text-align: center;
}
.close-btn {
  margin-left: 380px;
  background: #eee;
  border-radius: 50%;
  color: #888;
  border: 1px solid #eee;
  padding: 0;
   font-weight: 400;
  font-size: 18px;
  height: 24px;
  width: 24px;
}
form {
 text-align: left;
  width: 400px;
  height: 430px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;

}

label {display: block;}

input[type=text],input[type=number],select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #6e5034;;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


div.opacity-provider {
    display:none;    
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    opacity:0.4;
    filter:alpha(opacity=50);  
    position:absolute;
     background:black;
    z-index:100;  
}



